/* 
    Document   : admin
    Created on : Jul 28, 2009, 9:01:40 AM
    Author     : Ramkumar
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

